.content {
    padding-bottom:80px;
    padding-top:80px;
}

.parallax {
    height: 50vh;
    width: 100%;
    background: url('../assets/neon-genesis-evangelion-critique.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}